{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
<section class="product-section container">
    <h3>Modern Home Decor Essentials</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="card product-card">
                <img src="dark-vase.jpg" class="card-img-top" alt="Dark Vase">
                <div class="card-body">
                    <h5 class="card-title">Dark Vase</h5>
                    <p class="card-text">$29.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card product-card">
                <img src="soap.jpg" class="card-img-top" alt="Soap">
                <div class="card-body">
                    <h5 class="card-title">Soap</h5>
                    <p class="card-text">$89.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card product-card">
                <img src="tall-vase.jpg" class="card-img-top" alt="Tall Vase">
                <div class="card-body">
                    <h5 class="card-title">Tall Vase</h5>
                    <p class="card-text">$39.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card product-card">
                <img src="candle-holder.jpg" class="card-img-top" alt="Candle Holder">
                <div class="card-body">
                    <h5 class="card-title">Candle Holder</h5>
                    <p class="card-text">$19.00</p>
                </div>
            </div>
        </div>
    </div>
</section>
<h3>Showcase a SPECIAL OFFER</h3>
<p>Subscribe to our newsletter for exclusive offers and updates!</p>
<input type="email" placeholder="Enter your email" class="form-control w-50 mx-auto">
<button class="btn btn-primary mt-3">Subscribe</button>
</section>
{% endblock %}
